
<h2>注文履歴詳細</h2>

<table>
  <tr>
    <th>購入者</th>
    <td><%= @order_status.customer.name %></td>
  </tr>
  <tr>
    <th>注文日</th>
    <td><%= @order_status.created_at %></td>
  </tr>
  <tr>
    <th>配送先</th>
    <td>
      <%= @order_status.postal_code %><%= @order_status.address %><br>
      <%= @order_status.name %>
    </td>
  </tr>
  <tr>
    <th>支払方法</th>
    <td>
      <%= @order_status.payment %>
    </td>
  </tr>
  <tr>
    <th>注文ステータス</th>
    <td>
      <% if @order_status.create_status == 0 %>
          <p>入金待ち</p>
        
          <%= form_with model:@order_status, url:"admin/a_orders#order_status", local:true do |f| %>
            <%= f.select:create_status, {'入金待ち':0, '入金確認':1} %>
            <%= f.submit '変更を保存' %>
          <% end %>
        <% elsif  @order_status.create_status == 1 %>
          <p>入金確認</p>
        <% elsif  @order_status.create_status == 1 && (注文ステータスが1つでも「2」になったら) %>
          <p>制作中</p>
        <% elsif  @order_status.create_status == 1 && (注文ステータスが全て「2」になったら) %>
          <p>発送準備中</p>
          
          <%= form_with model:@order_status, url:"admin/a_orders#order_status", local:true do |f| %>
            <%= f.select:create_status, {'発送準備中':1, '発送済み':2} %>
            <%= f.submit '変更を保存' %>
          <% end %>
        <% elsif  @order_status.create_status == 2 %>
          <p>発送済み</p>
        <% end %>
    </td>
  </tr>
</table>


<table>
  <thead>
    <tr>
      <th>商品名</th>
      <th>単価（税込）</th>
      <th>数量</th>
      <th>小計</th>
      <th>製作ステータス</th>
    </tr>
  </thead>
  
  <tbody>
    <% @orders_items.each do |order_item| %>  
      <tr>
        <td><%= order_item.name %></td>
        <td><%= order_item.price %></td>
        <td><%= order_item.quantity %></td>
        <td><%= order_item.price * order_item.quantity %></td>
        <td>
          <% if @item_status.create_status == 0 %>
            <p>着手不可</p>
        　<% elsif @item_status.create_status == 1 %>
        　　  <p> 
        </td>
      </tr>
    <% end %>
  </tbody>
</table>