
<h2>商品編集</h2>

<%= form_with model:@a_item, url:admin_a_item_path, local:true do |f| %>
  <table>
    <tr>
      <th>商品画像</th>
      <td><%= f.attachment_field:image %></td>
    </tr>
    <tr>
      <th>商品名</th>
      <td><%= f.text_field:name %></td>
    </tr>
    <tr>
      <th>商品説明</th>
      <td><%= f.text_area:introduction %></td>
    </tr>
    <tr>
      <th>ジャンル</th>
      <td><%= f.select:genre_id, @genres.map{ |genre| [genre.name, genre.id] }, {include_blank:'--選択してください--'} %></td>
    </tr>
    <tr>
      <th>税抜価格</th>
      <td><%= f.text_field:price %></td>
    </tr>
    <tr>
      <th>販売ステータス</th>
      <td>
        <%= f.radio_button :status, :true %>
        <%= f.label :status, "販売中", {value: :true, style: "display: inline-block;"} %>
        <%= f.radio_button :status, :false %>
        <%= f.label :status, "販売停止中", {value: :false, style: "display: inline-block;"} %>
      </td>
    </tr>
  </table>
  
  <%= f.submit '変更を保存', class: "btn btn-sm btn-success" %>
<% end %>
  