<div>
  <div class="container">
    <div class="row my-3">
      <div class="col-md-5 offset-md-1">
        <%= attachment_image_tag(@item, :image, size: "411x274", fallback:"no_image.png") %>
      </div>
      <div class="col-md-5">
        <h1><%= @item.name %></h1>
        <div><%= @item.introduction %></div>
        <div>
          <p>本体価格(税込み)<%= "￥"+tax(@item.price).to_s(:delimited) %></p>
        </div>
        <% if customer_signed_in? %>
          <div class="item-buy">
            <%= form_with(model: @cart_item , url: cart_items_path, local:true) do |f| %>
              <%= f.hidden_field :item_id, value: @item.id %>
              <div>
                <%= f.label :quantity, "数量", class:"input_label" %>
                <%= f.select :quantity, options_for_select((1..10).to_a), class:"input_quantity" %>
              </div>
              <div class="input-form">
                <%= f.submit "カートに入れる", class:"input-btn" %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
