<% if flash[:notice] %>
  <p class="bg-warning d-flex align-items-center justify-content-center text-white" style="height:30px;"><%= flash[:notice] %></p>
<%end%>
<% if flash[:alert] %>
  <p class="bg-danger d-flex align-items-center justify-content-center text-white" style="height:30px;"><%= flash[:alert] %></p>
<%end%>

<div class="conrainer">
  <div class="row mt-4 mb-2">
    <div class="row col-6">
      <p class="col-2"></p>
      <p class="col-3 fs-5 bg-light">ジャンル編集</p>
    </div>
    <div class="row mt-4">
      <div class="col-1"></div>
      <div class="col-5">
        <%= form_with model: @genre, url: admin_genre_path, local: true do |f| %>
          <b><%= f.label :name, "ジャンル名", class: "ms-5" %></b>
          <%= f.text_field :name, class: "ms-5" %>
          <%= f.submit "変更を保存", class: "btn btn-sm btn-success ms-5 fs-5" %>
        <% end %>
      </div>
    </div>
  </div>
</div>