<div class="container">
  <div class="row">
    <%= form_with model:@adress, local: true do |f| %>
    <div class="form-group">
      <%= f.label :postal_code %>
      <%= f.text_field :postal_code, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :address %>
      <%= f.text_area :address, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control" %>
    </div>
    <div class="actions">
      <%= f.submit "新規登録", class: "btn btn-sm btn-success" %>
    </div>
    <% end %>
  </div>
  
  <div class="row">
    <table class="table tabel-hover table-inverse">
    <thead>
      <tr>
        <th>郵便番号</th>
        <th>住所</th>
        <th>宛名</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @addresses.each.do |address| %>
      <tr>
        <td><%= address.postal_code %></td>
        <td><%= address.address %></td>
        <td><%= address.name %></td>
        <td>編集、削除</td>
      </tr>
    </tr>
    </table>
  </div>

</div>
