<div class="container">
  <div class="row mt-3">
    <span class="fs-3 offset-md-1"><b>配送先登録</b></span>
  </div>
  <%= form_with model:@address, local: true do |f| %>
  <div class="row mt-3">
    <%= f.label :postal_code, "郵便番号(ハイフンなし)", class:"offset-1 col-3" %>
    <%= f.text_field :postal_code, class:"col-3" %>
  </div>
  <div class="row mt-3">
    <%= f.label :address, "住所", class:"offset-1 col-3" %>
    <%= f.text_field :address, class:"col-3" %>
  </div>
  <div class="row mt-3">
    <%= f.label :name, "宛名", class:"offset-1 col-3" %>
    <%= f.text_field :name, class:"col-3" %>
  </div>
  <div class="offset-4 mt-3 mb-4">
    <%= f.submit "新規登録", class: "btn btn-sm btn-success" %>
  </div>
  <% end %>
</div>

<div class="container">
  <div class="row mt-3">
    <span class="fs-3 offset-md-1"><b>配送先一覧</b></span>
  </div>
  <div class="row my-3 offset-1">
    <table class="table tabel-hover table-inverse">
      <thead>
        <tr>
          <th>郵便番号</th>
          <th>住所</th>
          <th>宛名</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @addresses.each do |address| %>
        <tr>
          <td><%= address.postal_code %></td>
          <td><%= address.address %></td>
          <td><%= address.name %></td>
          <td>
            <span><%= link_to "編集", edit_address_path(address.id), class: "btn btn-sm btn-success" %></span>
            <span class="delete-btn"><%= link_to "削除", address_path(address.id), method: :delete, class: "btn btn-sm btn-danger" %></span>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>