<div class="container">

  <div class="row mt-3">
    <span class="fs-3 offset-md-1"><b>支払方法</b></span>
  </div>

  <%= form_with model: @order, url:confirm_c_orders_path, method: :post, local: true do |f| %>
  <div class="offset-1 mb-1">
    <%= f.radio_button :payment, :クレジットカード, checked: true %><span>クレジットカード</span>
    <%= f.radio_button :payment, :銀行振込, class:"offset-1" %><span>銀行振込</span>
  </div>

  <div class="row mt-3">
    <span class="fs-3 offset-md-1 signup-form"><b>お届け先</b></span>
  </div>

  <div  class="offset-1 mb-1">
    <div class="mt-3">
      <%= f.radio_button :addresses, "current_customer_address" ,checked: true %>
      <span>ご自身の住所</span>
      <div class="customer_address">
        <%= "〒#{current_customer.postal_code} #{current_customer.address}" %><br>
        <%= "#{current_customer.first_name} #{current_customer.last_name}" %>
      </div>
    </div>
    <% if @addresses.exists? %>
      <div class="mt-3">
        <%= f.radio_button :addresses, "registration_address" %>
        <span>登録住所から選択</span><br>
        <div>
          <%= f.collection_select(:address_id, @addresses, :id, :order_address) %>
        </div>
      <div>
    <% end %>
    <div class="mt-3">
      <%=f.radio_button :addresses, "new_address" %>
      <span>新しいお届け先</span><br>
      <div class="customer_address">
        <div class="row mt-3">
          <%= f.label :postal_code, "郵便番号(ハイフンなし)", class:"col-3" %>
          <%= f.text_field :postal_code, class:"col-3" %>
        </div>
        <div class="row mt-3">
          <%= f.label :address, "住所", class:"col-3" %>
          <%= f.text_field :address, class:"col-3" %>
        </div>
        <div class="row mt-3">
          <%= f.label :name, "宛名", class:"col-3" %>
          <%= f.text_field :name, class:"col-3" %>
        </div>
      </div>
    </div>
  </div>  
  <div class="offset-4 mt-3 mb-4">
    <%= f.submit "確認画面へ進む", class:"col-3" %>
  </div>
  <% end %>
</div>